@media only screen and (max-width:605px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 890px;
        gap: 2rem;
    }
    .right-nav {
        display: none;
    }
    section {
        height: 860px;
        width: 590px;
        box-sizing: border-box;
        min-height: fit-content;
    }
    .profile-container,
    .about-details,
    .skills-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .more-details {
        width: 500px;
    }
    #contact {
        height: 860px;
    }
    footer {
        width: 890px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
