@media only screen and (max-width:605px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 590px;
    }
    .right-nav {
        display: none;
    }
    section {
        height: 860px;
        width: 590px;
    }
    .profile-container,
    .about-details,
    .skills-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .more-details {
        width: 500px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}